@model IEnumerable<ComicStoreASP.Data.FlaggedComic>

<h2>Flagged Comics</h2>

@if (!Model.Any())
{
    <p>No comics have been flagged.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Reason</th>
                <th>Flagged At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flag in Model)
            {
                <tr>
                    <td>@flag.Comic.Title</td>
                    <td>@flag.Comic.Publisher</td>
                    <td>@flag.Reason</td>
                    <td>@flag.FlaggedAt.ToLocalTime()</td>
                </tr>
            }
        </tbody>
    </table>
}


